@mixin media($w) {
  @media (max-width: $w) {
    @content;
  }
}
@mixin font($fw, $fz, $lh) {
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}
@mixin title {
  @include font(600, 48px, 72px);
  color: $text-color;
  padding-bottom: 10px;
  @include media(940px) {
    @include font(600, 38px, 62px);
  }
}
